# Example environment config file just copy it,
# enter your configuration details and save as
# 'env.yaml'
environment:
  scheme: "https"
  terminal_token: "token"
  host_name: "www.example.de"
  allow_manual_input: false
  base_path: "api/v1/organizers/verde/events/kaffeetest/wallet"
  port: 443
  pairing_url_prefix: "http://localhost:8000/verde/account/wallet/pair/"

# The assets are normally all ok - don't change this part!
assets:
  rfid_lib_relative_path: 'assets/libperiphery_arm.so'
  coffee_image_relative_path: 'assets/icons/coffee-mug.png'
